<!-- <form handling  -->
<form action="/api/users" method="POST" id="add_user">
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-light">Name</label>
      <input name="id" value="" type="hidden" />
      <input placeholder="Jeevan Vaishnav" type="text" name="name" />
    </div>

    <div class="form-group">
      <label for="email" class="text-light">Email</label>
      <input value="" placeholder="jeevan@gmail.com" type="text" name="email" />
    </div>

    <div class="form-group">
      <label for="gender" class="text-dark">Gender</label>
      <div class="radio inline">
        <input value="Male" id="radio-1" type="radio" name="gender" />
        <label for="radio-1" class="radio-label">Male</label>
      </div>

      <div class="radio inline">
        <input value="Female" id="radio-2" type="radio" name="gender" />
        <label for="radio-2" class="radio-label">Female</label>
      </div>
    </div>

    <div class="form-group">
      <label for="status" class="text-dark">Status</label>
      <div class="radio inline">
        <input value="Active" id="radio-3" type="radio" name="status" />
        <label for="radio-3" class="radio-label">Active</label>
      </div>

      <div class="radio inline">
        <input value="Inactive" id="radio-4" type="radio" name="status" />
        <label for="radio-4" class="radio-label">Inactive</label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn" type="submit" class="btn text-dark update">
        Save
      </button>
    </div>
  </div>
</form>
